
  <p class="footer_details text-center col-md-12">
    Property of Albarakah Holding LLC , All rights reserved &copy; 2018
  </p>
  <div class="row">
    <div class="col-md-12 footer_images">
    
      <div class="col-md-1 img_footer"> <img src="./assets/images/Workers Village-01.png" alt="" class="img_footer"> </div>
      <div class="col-md-1 img_footer"><img src="./assets/images/Mayar Logo-01.png" alt="" class="img_footer"></div>
      <div class="col-md-1 img_footer"><img src="./assets/images/Joud-01.png" alt="" class="img_footer"></div>
      <div class="col-md-1 img_footer"><img src="./assets/images/ICCC-01.png" alt="" class="img_footer"></div>
      <div class="col-md-1 img_footer"><img src="./assets/images/Hermas Village-01.png" alt="" class="img_footer"></div>
      <div class="col-md-1 img_footer"><img src="./assets/images/Al Raha Village-01.png" alt="" class="img_footer"></div>
      <div class="col-md-1 img_footer"><img src="./assets/images/D Vision-01.png" alt="" class="img_footer"></div>
      <div class="col-md-1 img_footer"><img src="./assets/images/arval-01.png" alt="" class="img_footer"></div>
    
    </div>
</div>
