
<!-- <link rel="stylesheet" href="./assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" > -->







<div class="col-md-12 info_download" >
        <h4 class="text-center download_text"> Welcome to the Download Section</h4>

    <div class="row downloadSection">
      
        <div class="col-md-12">
                
            <a href="../../assets/forms/01-User Account Access Form.docx" download>
                <div class="row">    
            <div class="col-md-4 ">WV-IT</div>
            <div class="col-md-4">01-User Account Access Form</div>
            <div class="col-md-4"> <i class="fa fa-download" ></i> &nbsp; Download</div>
          </div>
        </a>
        
          </div>



    </div>


    <div class="row downloadSection">
        <div class="col-md-12">
          <a href="../../assets/forms/02-E-Mail Account Request Form.docx" download>
            <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4">02-E-Mail Account Request Form</div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
          </a>
        </div>
     
    </div>


    

    <div class="row downloadSection">
        <div class="col-md-12">
            <a href="../../assets/forms/03-File Share Folder Request Form.docx" download>
                <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4">03-File Share Folder Request Form</div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
            </a>
        </div>
    </div>

    <div class="row downloadSection">
        <div class="col-md-12">
            <a href="../../assets/forms/04-IT Change Request Form.docx" download>
                <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4">04-IT Change Request Form</div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
            </a>
        </div>
    </div>

    <div class="row downloadSection">
        <div class="col-md-12">
            <a href="../../assets/forms/05-Telephone and Fax Request Form (1).docx" download>
                <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4"> 05-Telephone and Fax Request Form</div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
            </a>
        </div>
    </div>

    <div class="row downloadSection">
        <div class="col-md-12">
            <a href="../../assets/forms/06-Hardware Request Form.docx" download>
                <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4">06-Hardware Request Form</div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
            </a>
        </div>
    </div>

    <div class="row downloadSection">
        <div class="col-md-12">
            <a href="../../assets/forms/07-Internet Access Request Form.docx" download>
                <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4">07-Internet Access Request Form</div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
            </a>
        </div>
    </div>

    <div class="row downloadSection">
        <div class="col-md-12">
            <a href="../../assets/forms/08-Color Printing Access Request Form (1).docx" download>
                <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4">08-Color Printing Access Request Form</div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
            </a>
        </div>
    </div>

    <div class="row downloadSection">
        <div class="col-md-12">
            <a href="../../assets/forms/HR - Leave Request Form WV.xlsx" download>
                <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4">09-HR - Leave Request Form WV </div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
            </a>
        </div>
    </div>

    <div class="row downloadSection">
        <div class="col-md-12">
            <a href="../../assets/forms/HR - Air Ticket Request WV (1).xlsx" download>
                <div class="row">
            <div class="col-md-4">WV-IT</div>
            <div class="col-md-4">10-HR - Air Ticket Request WV</div>
            <div class="col-md-4"> <i class="fa fa-download"></i> &nbsp; Download</div>
            </div>
            </a>
        </div>
    </div>



</div>


